.wrapper {
  // background-color: red;
  width: 80%;
  margin: 0 auto;

  @media only screen and (max-width: 1024px) {
    width: 100%;
  }
}

.list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;

  @media only screen and (max-width: 1024px) {
    align-items: center;
  }
}

.listItem {
  margin-bottom: 1.5rem;

  &:nth-child(2n) {
    align-self: flex-end;

    @media only screen and (max-width: 1024px) {
      align-self: auto;
    }
  }
}
