.header {
  min-height: 12.5rem;
  padding: 1.875rem 0;
  background: linear-gradient(5deg, #dbfff3, transparent);

  ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    font-size: 1rem;

    &:not(:last-child) {
      margin-right: 1rem;
    }
  }
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-wrap: wrap;
}

.title {
  width: 100%;
  margin-top: 1rem;
  text-transform: uppercase;
  font-weight: 400;
}
